APPVIEW_DB_NAME=divine_appview
APPVIEW_DB_USER=divine
APPVIEW_DB_PASSWORD=divine
APPVIEW_DB_PORT=55432
DIVINE_PDS_URL=http://127.0.0.1:2583
APPVIEW_ENABLE_RELAY=false
RSKY_RELAY_IMAGE=ghcr.io/divinevideo/rsky-relay:latest
DIVINE_RELAY_PORT=3001
APPVIEW_MEDIA_BASE_URL=http://127.0.0.1:3100
APPVIEW_BIND_ADDR=127.0.0.1:3004
FEEDGEN_BIND_ADDR=127.0.0.1:3002
VIEWER_PORT=4173
VIEWER_ORIGIN=http://127.0.0.1:4173
